<form class="" action="/landmarks" method="post">

  <label for="landmark_name">Landmark Name:</label><input type="text" name="landmark[name]" id="landmark_name" value=""><br>
  <label for="landmark_year_completed">Landmark Year Completed</label><input type="text" name="landmark[year_completed]" id="landmark_year_completed" value=""><br>

  <input type="submit" name="" id="Create New Landmark" value="Create New Landmark">

</form>
